

#header-wrapper {
    padding: 0rem;
}


#body-inner  ul {
  list-style: none;
}
#body-inner ul > li::before {
  content: "📌";  
  display: inline-block;  
  margin-right: 0.2rem; 
}
#body-inner ul  ul > li::before {
  content: "✔" ;
  display: inline-block;  
}
#body-inner ul  ul  ul > li::before {
  content: "🤷‍";
  display: inline-block;  
}
li >p:first-child {
	display:inline-block;
}	
 


#body-inner a {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid #CBF8DF;
  box-shadow: inset 0 -4px 0 #CBF8DF;
  background: transparent;
  transition: background 150ms ease;
}

#body-inner a:hover,
#body-inner a:focus {
  background: #CBF8DF;
}

#body-inner hr {
  width: 150px;
  margin: 50px auto;
  height: 1px;
  overflow: hidden;
  border: none;
  background: #e5e5e5;
}
a {
    color: inherit;
}



a[href$=".docx"]:before {
  content:url(https://img.informer.com/icons/png/16/4135/4135583.png);
}

a[href$=".pttx"],a[href$=".pptx"]:before {
  content:url(http://icons.iconarchive.com/icons/carlosjj/microsoft-office-2013/16/PowerPoint-icon.png);
}

a[href$=".xlsx"]:before {
  content:url(http://icons.iconarchive.com/icons/carlosjj/microsoft-office-2013/16/Excel-icon.png);
}

a[href$=".pdf"]:before {
  content:url(http://www.wischenbart.com/img/pdf_icon.gif);
}
	
/* 
#body-inner * {
	font-size:2rem;
}	
開啟sidebar 顯示
#sidebar-toggle-span {
	display:inline-block;
}

*/

#body-inner pre code.hljs {
    padding: 2px 4px;
    /*font-size: 90%; */
    border-radius: 0px 
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext  {
  visibility: hidden;
  width: 400px;
  /*width: fit-content;*/
  background-color: black !important;
  color: #fff !important;
  font-weight: bold;
  text-align: left;
  border-radius: 6px;
  padding: 2px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}